.box {
    background: red;
    border: 1px solid black;
    margin: 10px;
    }
  
.screening {
    background: white;
    border: 1px solid black;
    }
  
.box1{
    width: 50%;
    }

.box2{
    width: 50vw;
    }

.box3{
    height: 50vh;
    }
.rem_one {
    font-size: 1rem;
    }

.em_one {
    font-size: 1em;
    }

.rem_two {
    font-size: 2rem;
    }

.em_two {
    font-size: 2em;
    }


    
